.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('../Imagenes/fondo.PNG');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-titulo {
  font-family: "Parisienne";
  font-size: 103px;
  color: #c9c154;
  position: absolute;
  text-align: center;
  top: 20%;
  font-style: italic;
}


.App-Quesitos {
  background-image: url('../Imagenes/quesito_5_azul.png');
  position: relative;
  background-repeat: no-repeat;
  min-height: 10vh;
  align-items: center;
  left: 38%;
  border-image: 50;
}

.App-CuadrosTexto {
  padding: 20px;
  text-align: center;
}

.App-CuadrosTextoIzq {
  float: left;
}

.App-CuadrosTextoDer {
  float: right;
}

.App-CuadroTexto {
  display: inline-block;
  flex-direction: column;
}

.App-boton {
  color: #232323;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  background-color: #c7c3c3;
  box-shadow: 10px 10px 5px rgba(0, 0, 1.2, 1.25);
}

.App-texto {
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

.App-iconoRegistro {
  background: url("../Imagenes/DatosUsuario.png");
  width: 160px;
  height: 160px;
  border-Radius: 50%;
  background-color: white;
  border: 2px solid black;
  display: "flex";
  justify-Content: "center";
  align-Items: "center";
  overflow: "hidden";
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.App-IconoPerfil {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: transparent;
  display: "flex";
  justify-Content: "center";
  align-Items: "center";
  overflow: "hidden";
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 87%;
  top: 7%;
  cursor: pointer;
  border-Radius: 50%;

}

.App-icono {
  width: 160px;
  height: 160px;
  border-Radius: 50%;
  background-color: white;
  border: 2px solid black;
  display: "flex";
  justify-Content: "center";
  align-Items: "center";
  overflow: "hidden";
}

.App-Imagenes{
  display: flex;
  align-items: center;
}

.App-ImagenBoton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(25% - 10px);
  margin: 20px;
  text-align: center;
}

.App-Desplegable{
  width: 28%;
  height: 100%;
  background-color: rgb(68, 64, 64);
  position: absolute;
  left: 72%;
  top: 0%;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1.33vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.App-CeldaDesplegable{
  background-color: rgb(68, 64, 64);
  text-Decoration:"none";
  width: 100%;
  height: 5%;
  padding: 50px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 20px;
  border: white;
}