.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('../Imagenes/fondo.PNG');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-headerJuego {
  background-image: url('../Imagenes/FondoJuego.PNG');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-tablero {
  background-image: url('../Imagenes/Tablero1.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-titulo {
  font-family: "Parisienne";
  font-size: 103px;
  color: #c9c154;
  position: absolute;
  text-align: center;
  font-style: italic;
}


.App-Quesitos {
  background-image: url('../Imagenes/quesito_5_azul.png');
  position: relative;
  background-repeat: no-repeat;
  min-height: 5vh;
  align-items: center;
  left: 37%;
  border-image: 50;
}

.App-CuadrosTexto {
  padding: 20px;
  text-align: center;
}

.App-CuadrosTextoIzq {
  float: left;
}

.App-CuadrosTextoDer {
  float: right;
}

.App-CuadroTexto {
  display: inline-block;
  flex-direction: column;
}

.App-Input {
  color: #ffffff;
  border: none;
  font-size: 35px;
  background-color: none;
  border-radius: 50px;
  /*border: 2px solid black;*/
}

.App-boton {
  color: #232323;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  background-color: #c7c3c3;
  box-shadow: 10px 10px 5px rgba(0, 0, 1.2, 1.25);
}

.App-botonAzul {
  color: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  background-color: rgb(0, 80, 155);
  box-shadow: 10px 10px 5px rgba(0, 0, 1.2, 1.25);
}

.App-botonCancelar {
  color: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  background-color: rgb(134, 9, 9);
  box-shadow: 10px 10px 5px rgba(0, 0, 1.2, 1.25);
}
.App-botonConfirmar {
  color: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  background-color: rgb(7, 83, 17);
  box-shadow: 10px 10px 5px rgba(0, 0, 1.2, 1.25);
}

.App-textoBlanco {
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.App-textoNegro {
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.App-iconoRegistro {
  background: url("../Imagenes/DatosUsuario.png");
  width: 160px;
  height: 160px;
  border-Radius: 50%;
  background-color: white;
  border: 2px solid black;
  display: "flex";
  justify-Content: "center";
  overflow: "hidden";
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 25%;
  left:auto;
}

.App-IconoPerfil {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: transparent;
  display: "flex";
  justify-Content: "center";
  align-Items: "center";
  overflow: "hidden";
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 87%;
  top: 7%;
  cursor: pointer;
  border-Radius: 50%;
}

.App-icono {
  width: 160px;
  height: 160px;
  border-Radius: 50%;
  background-color: white;
  border: 2px solid black;
  display: "flex";
  justify-Content: "center";
  align-Items: "center";
  overflow: "hidden";
}

.App-Imagenes{
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.App-ImagenBoton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 10px);
}

.App-Desplegable{
  width: 28%;
  height: 100%;
  background-color: rgb(68, 64, 64);
  position: absolute;
  left: 72%;
  top: 0%;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1.33vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.App-CeldaDesplegable{
  background-color: rgb(68, 64, 64);
  text-Decoration:"none";
  width: 100%;
  height: 5%;
  padding: 50px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 20px;
  border: white;
}

.App-CuadradoAmarillo{
  background-color: #c9c154;
  left: 10%;
  border-radius: 50px;
  border: 3px solid black;
}
.App-CuadradoGris{
  background-color: #929292;
  left: 10%;
  border-radius: 50px;
  border: 3px solid black;
}
.App-CuadradoBlanco{
  background-color: #ffffff;
  left: 10%;
  border: 3px solid black;
}

.App-CuadradoNegro{
  background-color: black;
  left: 10%;
  border-radius: 50px;
}

.App-ImagenesRedes {
  align-items: center;
  display: relative;
  
}

.App-EsJugador {
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
  width: 20%;
  height: 30%;
  border-image: 50;
  /*border: 2px solid rgb(255, 255, 255);*/
}

.App-imagenJugador {
  width: 80%;
  height: 90%;
  border-Radius: 5%;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  position: "absolute";
}
.App-imagenQuesito {
  width: 10%;
  height: 10%;
  border-Radius: 5%;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  position: "absolute";
}


