.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('../Imagenes/fondo.PNG');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-titulo {
  font-family: "Parisienne";
  font-size: 103px;
  color: #c9c154;
  position: fixed;
  text-align: center;
  top: 20%;
  font-style: italic;
}

.quesitos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  top: 20%;
  position: relative;
}

.quesito {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 50px solid #f00; /* cambia #f00 por el color que desees */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.quesito-amarillo {
  border-color: #F2C94C;
}
.quesito-naranja {
  border-color: #F2994A;
}
.quesito-verde {
  border-color: #6FCF97;
}
.quesito-azul {
  border-color: #56CCF2;
}
.quesito-rosa {
  border-color: #fd53bc;
}
.quesito-rojo {
  border-color: #ff0000;
}

.App-boton {
  color: #232323;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  background-color: #c7c3c3;
  box-shadow: 10px 10px 5px rgba(0, 0, 1.2, 1.25);
}